@font-face {
  font-family: 'FontAwesome';
  src: url("../files/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format('embedded-opentype'), url("../files/fonts/fontawesome-webfont.woff2?v=4.4.0") format('woff2'), url("../files/fonts/fontawesome-webfont.woff?v=4.4.0") format('woff'), url("../files/fonts/fontawesome-webfont.ttf?v=4.4.0") format('truetype'), url("../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url("../files/fonts/MYRIADPRO-REGULAR.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro SemiCondensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro SemiCondensed'), url("../files/fonts/Myriad-Pro-SemiCondensed.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Light SemiCondensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Light SemiCondensed'), url("../files/fonts/Myriad-Pro-Light-SemiCondensed.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed'), url("../files/fonts/MYRIADPRO-COND.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold Italic'), url("../files/fonts/MYRIADPRO-SEMIBOLDIT.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url("../files/fonts/MYRIADPRO-SEMIBOLD.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed Italic'), url("../files/fonts/MYRIADPRO-CONDIT.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Italic'), url("../files/fonts/MYRIADPRO-BOLDIT.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed Italic'), url("../files/fonts/MYRIADPRO-BOLDCONDIT.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed'), url("../files/fonts/MYRIADPRO-BOLDCOND.woff") format('woff');
}
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url("../files/fonts/MYRIADPRO-BOLD.woff") format('woff');
}
.dark-blue {
  color: #254d90;
}
.light-blue {
  color: #0071bc;
}
.mustard {
  color: #fbb03b;
}
.gray {
  color: #b3b3b3;
}
.purple {
  color: #1b1464;
}
.white {
  color: #fff;
}
.ultralight {
  font-weight: 100;
}
.lighter {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
html {
  font-size: 62.5%;
}
main,
#outdated {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main {
  width: 100%;
  min-height: 100%;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
}
[class*=col-] {
  padding: 0;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
*:focus {
  outline: none !important;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
/* Firefox 18- */
  color: #808080;
}
::-moz-placeholder {
/* Firefox 19+ */
  color: #808080;
}
:-ms-input-placeholder {
  color: #808080;
}
.update-browser {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #666;
  display: none;
}
.update-browser .update-browser-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 25px;
}
.update-browser .update-browser-link {
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 60%;
}
.update-browser .update-browser-link a {
  color: #fff;
  text-decoration: underline;
}
a:link,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}
fieldset {
  border: none;
}
.btn,
a {
  cursor: pointer;
}
.display-table {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.display-table .display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.big-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: 1500px;
}
.center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: 1200px;
}
.small-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: 980px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.none {
  display: none;
}
.error {
  color: #f00;
  display: block;
  font-size: 12px;
  height: 17px;
}
.ico {
  display: inline-block;
}
.ic_sgs_acero {
  background-image: url("../images/sprite.png");
  background-position: -122px -29px;
  width: 30px;
  height: 29px;
}
.ic_sgs_acero_white {
  background-image: url("../images/sprite.png");
  background-position: -122px -58px;
  width: 30px;
  height: 29px;
}
.ic_basc {
  background-image: url("../images/sprite.png");
  background-position: -122px 0px;
  width: 33px;
  height: 29px;
}
.ic_sgs_azul {
  background-image: url("../images/sprite.png");
  background-position: 0px 0px;
  width: 122px;
  height: 120px;
  margin: 9px;
}
body {
  font-size: 15px;
}
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides img {
  height: 100% !important;
}
section h3 {
  font-family: 'Myriad Pro Bold Condensed';
  color: #113156;
}
#wrap_all section {
  margin-top: 30px;
}
#slides .scrollable {
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: relative;
  top: 0;
}
#slides .scrollable::after {
  clear: both;
  content: "";
  display: table;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  top: 46%;
  width: 100%;
  z-index: 3;
}
.slides-navigation a {
  display: block;
  margin-top: 50px;
  position: absolute;
}
.slides-navigation a.prev {
  left: 10%;
}
.slides-navigation a.next {
  right: 10%;
}
.slides-pagination {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.slides-pagination a {
  border: 2px solid #113156;
  background-color: #113156;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  height: 7px;
  margin: 12px;
  overflow: hidden;
  text-indent: -100%;
  vertical-align: middle;
  width: 7px;
}
.slides-pagination a.current {
  background: #d85700;
  border-color: #d85700;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
input[type="button"],
input[type="submit"] {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
  height: 40px;
  -webkit-transition: all 250ms ease 0s;
  -moz-transition: all 250ms ease 0s;
  -o-transition: all 250ms ease 0s;
  -ms-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  width: 190px;
}
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: rgba(255,255,255,0.3);
}
.button_dark {
  border: 1px solid #bababa !important;
  color: #383a42 !important;
}
.button_orange {
  color: #f5821f !important;
}
.list_decimal {
  list-style: outside none decimal;
  padding-left: 1.3em;
}
.list_plus {
  list-style: outside none none;
  padding: 0;
}
.list_plus li::before {
  content: "+";
  padding-right: 5px;
}
input[type="text"],
select {
  border: 1px solid #bababa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 100;
  height: 32px;
  margin: 6px 0;
  padding: 3px;
}
textarea {
  border: 1px solid #bababa;
  font-size: 12px;
  font-weight: 100;
  height: 176px;
  margin: 6px 0;
  padding: 3px;
}
h1 {
  font-size: 48px;
  font-weight: 100;
}
h2 {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.2em;
}
.margin_right_10 {
  margin-right: 10px;
}
.margin_left_10 {
  margin-left: 10px;
}
.field_960 {
  margin: auto;
  width: 960px;
}
.field_1200 {
  margin: auto;
  max-width: 1200px;
}
.field1 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 6.5%;
}
.field2 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 15%;
}
.field3 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 23.5%;
}
.field4 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 32%;
}
.field5 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 40.5%;
}
.field6 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 49%;
}
.field7 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 57.5%;
}
.field8 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 66%;
}
.field9 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 74.5%;
}
.field10 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 83%;
}
.field11 {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 91.5%;
}
.field12 {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.field50_left {
  float: left;
  margin-bottom: 10px;
  width: 50%;
}
.field50_right {
  float: right;
  margin-bottom: 10px;
  width: 50%;
}
.field30_left {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 30%;
}
.field30_right {
  float: right;
  margin-bottom: 10px;
  margin-right: 2%;
  width: 30%;
}
.lastfield {
  margin-right: 0;
}
.clear {
  clear: both;
}
.float_left {
  float: left;
}
.text_align_center {
  text-align: center;
}
.text_align_left {
  text-align: left;
}
.text_align_right {
  text-align: right;
}
.text_white {
  color: #fff;
}
.text_weight_600 {
  font-size: 30px;
  font-weight: 600;
}
.padding_30 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
.padding_15 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 5px 30px;
}
.margin_top_65px {
  margin-top: 65px;
}
.margin_top_100px {
  margin-top: 100px;
}
.margin_bottom_100px {
  margin-bottom: 100px;
}
.margin_bottom_150px {
  margin-bottom: 150px;
}
.line_height_1_5 {
  line-height: 1.5;
}
.error {
  clear: both;
  color: #ffa500;
  display: none;
  font-size: 12px;
  margin: -12px 0 3px;
}
.title_center {
  text-align: center;
  width: 100%;
}
.text_slider_destacado {
  font-family: "raleway";
  font-size: 58px;
  color: #fff;
  font-weight: 500;
  text-shadow: 2px 2px 8px #113156;
  margin: 0px;
  line-height: 1;
}
.text_slider_secundary {
  color: #fff;
  font-family: "raleway";
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #113156;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
#wrap_all {
  min-width: 1200px;
  position: relative;
}
#wrap_noticias_background {
  background: transparent;
}
#wrap_noticias_productos {
  background-image: url("../images/img_bg_home4.jpg");
  background-position: center 102%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
#wrap_productos_background {
  padding-top: 90px;
}
#wrap_productos_background .titulo-top {
  margin-bottom: 80px;
}
section {
  margin: 0;
  min-width: 320px;
  overflow: hidden;
  padding: 0;
  width: 100% !important;
}
section article {
  width: 100%;
  z-index: 4;
}
.message_important {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #ffa500 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffa500 !important;
  font-size: 12px;
  font-weight: 100;
  padding: 3px;
  text-align: center;
}
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 90px;
  padding-top: 16px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}
.propuesta02 header {
  position: relative;
  height: 70px;
}
.propuesta02 #nav_top {
  position: relative;
  margin: 0px;
}
header #header_menu {
  display: none;
}
header #btn_header_iconos {
  height: 32px;
  position: absolute;
  right: 3%;
  top: 18px;
}
.imgfo {
  background: rgba(0,0,0,0) url("../images/ic_SGS_ACERO.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 45px;
  position: relative;
  width: 33px;
}
.mun {
  background: url("../images/ic_BASC.png");
  background-repeat: no-repeat;
}
.menu-principal-fixed {
  background-color: #fff;
  border-bottom: 3px solid #f3f3f3;
  position: fixed;
  top: 0px;
  z-index: 999;
  -webkit-transition: top 8s;
  -moz-transition: top 8s;
  -o-transition: top 8s;
  -ms-transition: top 8s;
  transition: top 8s;
  height: 60px !important;
}
.menu-principal-fixed ul.submenu {
  position: fixed !important;
  margin-top: 16px !important;
}
.menu-principal-fixed .logo a img {
  height: 50px;
  width: 111.5px;
}
.menu-principal-fixed .menu-sima li {
  padding: 19px 23px;
}
.menu-principal-fixed .logo {
  line-height: 54px;
}
#laempresa,
#gobierno,
#navales {
  border: solid 1px #f3f3f3;
  margin-top: 0px !important;
  padding-top: 30px;
}
#noticias {
  border-top: solid 1px #f3f3f3;
  padding-top: 30px;
  margin-bottom: 130px;
  margin-top: 0px !important;
}
#proyectos,
#publicaciones,
#publicaciones_interna,
#noticia-interna,
#transparencia {
  border-top: solid 1px #f3f3f3;
  padding-top: 50px;
  margin-top: 0px !important;
}
#proyectos,
#publicaciones_interna,
#noticia-interna {
  margin-bottom: 130px;
}
.span_black {
  color: #000;
}
.span_blue {
  color: #2a4eae;
}
.fonafe_lista {
  padding-bottom: 10px;
  border-bottom: solid 1px #f3f3f3;
}
.content_tabiframe {
  padding: 30px;
}
.content_tabiframe .nav-tabs {
  padding-left: 70px;
  border-bottom: 0px;
}
.content_tabiframe .nav > li > a {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
}
.content_tabiframe .nav-tabs > li {
  padding-bottom: 0px;
  font-style: italic;
  font-family: "raleway";
  font-size: 18px;
}
.content_tabiframe .nav-tabs > li.active > a,
.content_tabiframe .nav-tabs > li.active > a:focus,
.content_tabiframe .nav-tabs > li.active > a:hover {
  color: #fff;
  background: #113156;
  border-color: #113156;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.fonafe_lista p {
  font-size: 12px !important;
  font-style: normal !important;
  font-family: arial !important;
  padding-left: 10px !important;
  letter-spacing: 0 !important;
  margin: 0 !important;
}
.content_fonafe {
  border: solid 1px #f3f3f3;
  display: inline-block;
  width: 100%;
  margin-top: 90px;
}
.fonafe_tit h5 {
  font-weight: 600;
  margin-top: 45px;
}
.fonafe_tit {
  display: inline-block;
}
.header_fonafe_tit {
  display: inline-block;
  width: 100%;
  height: 110px;
  vertical-align: middle;
}
.fonafe_logo {
  display: inline-block;
  padding: 32px;
}
.retornar {
  background: transparent url("../images/flech-prev.png") no-repeat scroll 20px 13px;
  border: 2px solid #9199a0;
  bottom: 0;
  color: #313f4d;
  font-family: "Myriad Pro Bold Condensed";
  padding-left: 24px;
  right: 35px;
  margin-top: 40px;
  width: 123px;
}
.topspan {
  font-size: 14px;
  color: #113156;
  padding-left: 20px;
  font-family: "Myriad Pro Light SemiCondensed";
}
.nav_option .topspan:hover {
  font-family: "Myriad Pro SemiCondensed";
}
.menu-principal {
  height: 85px;
  margin-top: 0px !important;
}
.desarrollo_noticia {
  width: 838px;
  margin: auto;
}
.nav_option a:hover {
  cursor: pointer;
}
.nav_option select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(0,0,0,0) url("../images/ic_flecha_abajo.png") no-repeat scroll 93% 13px;
  border: none;
  cursor: pointer;
  font-weight: 300;
  -webkit-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 80px;
  font-family: 'Myriad Pro Light SemiCondensed';
  font-size: 14px;
  color: #113156;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.nav_active {
  font-weight: 600;
}
#nav_scroll {
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #383a42;
  display: none;
  font-weight: 100;
  height: 50px;
  margin-top: 0;
  padding: 16px 30px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9998;
}
.topspan.correo_span {
  background: rgba(0,0,0,0) url("../images/1x_ico_correos_sobre.png") no-repeat scroll right center;
  padding-right: 22px;
}
.topspan.correo_transparencia {
  background: rgba(0,0,0,0) url("../images/1x_ico_transparencia_lupa.png") no-repeat scroll right center;
  padding-right: 22px;
}
.ir-arriba {
  display: none;
  padding: 20px;
  background: #113156;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
#nav_scroll #nav_scroll_logo {
  float: left;
  height: 40px;
  margin-top: -10px;
  position: relative;
  width: 142px;
}
#laempresa {
  background: url("../images/img_bg_interna.png");
  background-repeat: no-repeat;
  background-position: 0px 220px;
}
#nav_scroll a:hover {
  color: #ccc;
}
#nav_scroll a,
#nav_top a {
  font-family: 'Myriad Pro Bold Condensed';
  color: #113156;
  display: inline-block;
}
.content-certificados {
  margin-bottom: 20px;
}
.submenu li a {
  color: #a3a3a3 !important;
  font-size: 13px;
  font-family: 'Myriad Pro SemiCondensed' !important;
}
.centradodiv p {
  font-size: 18px;
  font-family: 'raleway';
  margin-bottom: 90px;
  letter-spacing: 1.5px;
  color: #113156;
}
.container_header {
  width: 1280px;
  min-width: 1280px;
}
.container_text {
  color: #113156;
}
.container_text h1 {
  font-size: 57px;
  font-weight: 500;
  font-family: "raleway";
  margin-top: 100px;
  margin-bottom: 10px;
}
.container_text p {
  font-size: 16px;
  font-family: 'raleway';
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}
.productos_content a img {
  -webkit-filter: saturate(0.1);
  filter: saturate(0.1);
}
.productos_content a:hover img {
  -webkit-filter: none;
  filter: none;
}
.item_productos {
  margin-bottom: 100px;
}
.item_productos h2 {
  font-family: "raleway";
  padding-top: 45px;
  font-size: 28px;
  font-style: italic;
  color: #113156;
  font-weight: 300;
}
.liner-content {
  height: 20px;
}
.liner-content .liner {
  height: 1px;
  background: #113156;
  margin-top: 15px;
}
.nopadding {
  padding: 0px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #113156;
  border-color: #113156;
}
.pagination > li > a,
.pagination > li > span {
  color: #113156;
}
.titulo-top {
  margin-bottom: 60px;
  float: left;
  width: 100%;
}
.container_sima {
  width: 1000px;
  min-width: 1000px;
}
.container_sima p {
  font-style: italic;
}
.item_centrodeopreciones {
  position: relative;
  width: 875px;
  margin: auto;
}
.item_centrodeopreciones .description {
  background: rgba(17,49,86,0.5) none repeat scroll 0 0;
  bottom: 20px;
  color: #fff;
  padding-right: 40px;
  text-align: right;
  font-family: "raleway";
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
  left: 0;
  position: absolute;
  width: 100%;
}
#wrap_convenios_background {
  border-bottom: solid 1px #c1c1c1;
  padding-bottom: 40px;
}
.nav-location {
  background: #939aa1;
  display: inline-block;
  width: 100%;
  color: #fff;
}
.nav-location .active {
  background: #65707a;
  color: #fff;
}
.nav-location h2 {
  font-family: "raleway";
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
}
.nav-location a {
  padding: 4px;
  display: block;
}
.nav-location a:hover {
  background: #65707a;
  display: block;
  color: #fff;
}
.convenios_content div {
  display: inline-block;
  line-height: 8;
}
.mapa {
  height: 300px;
  margin-top: -6px;
}
.margin_content {
  clear: both;
  display: inline-block;
  float: left;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  width: 12.5%;
}
.item_centrodeopreciones_two img {
  width: 418px;
}
.item_centrodeopreciones_two {
  padding-top: 30px;
  padding-bottom: 86px;
  display: inline-block;
}
.item_centrodeopreciones_two .description {
  background: rgba(17,49,86,0.5) none repeat scroll 0 0;
  bottom: 20px;
  color: #fff;
  padding-right: 40px;
  text-align: right;
  font-family: "raleway";
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
  text-align: right;
  left: 0;
  position: absolute;
  width: 418px;
}
.item_centrodeopreciones_two .img_content_right .description {
  right: 0;
  left: inherit;
}
.item_centrodeopreciones_two .img_content_left {
  padding-right: 10px;
}
.item_centrodeopreciones_two .img_content_right {
  padding-left: 10px;
}
.destacado_texto {
  padding: 15px 30px 50px 50px;
  margin-bottom: 15px;
}
.destacado_texto a,
.destacado_texto a:hover,
.destacado_texto a:active,
.destacado_texto a:focus {
  bottom: 0;
  font-family: "Myriad Pro Bold Condensed";
  position: absolute;
  width: 123px;
  background: transparent;
  border: solid 2px #9199a0;
  right: 35px;
  color: #313f4d;
  padding-right: 24px;
  background: transparent url("../images/flech-next.png") no-repeat scroll 87px 13px;
}
.card {
  font-family: "raleway";
  color: #313f4d;
  padding: 10px;
}
.destacado_texto p {
  font-family: "raleway";
  font-style: italic;
  color: #313f4d;
  line-height: 2;
}
.card-top.card-block {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.card-block {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #e8ecf1;
  padding-bottom: 7px;
}
.card-block a {
  bottom: 0;
  font-family: "Myriad Pro Bold Condensed";
  width: 123px;
  right: 35px;
  font-size: 14px;
  color: #313f4d;
  padding-right: 15px;
  background: transparent url("../images/flech-next.png") no-repeat scroll 57px 7px;
}
.card-block h4 {
  font-family: "raleway";
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  color: #113156;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.destacado_texto h2 {
  font-family: "raleway";
  font-style: italic;
  font-size: 28px;
  font-weight: 300;
  color: #113156;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px #113156;
}
.noticias_content {
  margin-left: -10px;
  margin-right: -10px;
}
.destacado_fecha {
  display: block;
  font-family: "Myriad Pro Bold Condensed";
  text-align: right;
  color: #5c6671;
  font-size: 14px;
}
.destacado_img img {
  margin-left: 0px;
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -o-transition: margin 1s ease;
  -ms-transition: margin 1s ease;
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -o-transition: margin 1s ease;
  -ms-transition: margin 1s ease;
  transition: margin 1s ease;
}
.naval-content-product {
  margin-bottom: 120px;
}
.navales-te {
  line-height: 30px;
}
.navales-content.ri {
  margin-right: 35px;
  margin-left: 0px;
}
.navales-content {
  margin-left: 35px;
}
.navales-content h2 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-style: italic;
  color: #113156;
  font-size: 29px;
  font-family: "raleway";
  font-style: italic;
  font-weight: 300;
}
.navales-content a.cd-read-more {
  background: transparent url("../images/flech-next.png") no-repeat scroll 102px 13px;
  border: 2px solid #9199a0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 0;
  line-height: 1.4;
  color: #313f4d;
  float: left;
  font-family: "Myriad Pro Bold Condensed";
  padding: 6px 24px 6px 12px;
  text-align: center;
  width: 123px;
}
.navales-content p {
  margin-bottom: 30px;
}
.navales-content_arma {
  margin-left: 35px;
}
.navales-content_arma h2 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-style: italic;
  color: #113156;
  font-size: 29px;
  font-family: "raleway";
  font-style: italic;
  font-weight: 300;
}
.navales-content_arma a.cd-read-more {
  background: transparent url("../images/flech-next.png") no-repeat scroll 102px 13px;
  border: 2px solid #9199a0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 0;
  line-height: 1.4;
  color: #313f4d;
  float: left;
  font-family: "Myriad Pro Bold Condensed";
  padding: 6px 24px 6px 12px;
  text-align: center;
  width: 123px;
}
.navales-content_arma p {
  margin-bottom: 30px;
}
.noticias_destacado {
  background: #e8ecf1;
  display: inline-block;
}
nav .link_selected {
  color: #ffa500;
  -webkit-transition: color 150ms ease 0s;
  -moz-transition: color 150ms ease 0s;
  -o-transition: color 150ms ease 0s;
  -ms-transition: color 150ms ease 0s;
  transition: color 150ms ease 0s;
}
.tit_right {
  margin-bottom: 20px;
  margin-top: 50px;
}
.tit_right h2 {
  font-size: 34px;
  color: #113156;
}
.welcome-text {
  color: #113156;
  font-family: "raleway";
  font-style: italic;
  font-weight: 300;
}
.size-welcom {
  font-size: 32px;
  margin-top: 155px;
}
.centradodiv {
  width: 980px;
  float: none;
  margin: auto;
}
.centradodivone {
  width: 1100px;
  float: none;
  margin: auto;
}
.user-description p {
  font-size: 13px;
  line-height: 1.3;
  margin: 0;
}
.sep {
  margin-bottom: 40px;
}
.top_cel {
  display: block;
  overflow: hidden;
  padding-top: 60px;
}
.tit_3 {
  font-family: "raleway";
  font-size: 35px;
  margin-right: 43px;
  border-bottom: 2px solid #113156;
}
section.directorio {
  margin-top: 135px !important;
  margin-bottom: 70px;
}
.cont_img {
  position: relative;
}
.title-one,
.title-two,
.user-description span {
  display: block;
  line-height: 1.3;
}
.title-one {
  color: #113156;
  font-family: "raleway";
  font-size: 20px;
  font-style: italic;
}
.title-two {
  font-family: "Myriad Pro Bold Condensed";
  font-size: 18px;
  color: #113156;
}
.user-description {
  margin-left: 50px;
}
.cont_img span {
  bottom: 40px;
  color: #fff;
  display: block;
  left: 0;
  padding: 10px;
  padding-left: 25px;
  position: absolute;
  width: 393px;
  font-family: "raleway";
  font-style: italic;
  font-size: 20px;
  background: rgba(17,49,86,0.5) none repeat scroll 0 0;
}
.tit_min {
  color: #113156;
  font-family: "Myriad Pro Bold Condensed";
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}
.imagen_bot {
  border-bottom: 2px solid #113156;
  padding-bottom: 20px;
}
.welcome_btn {
  background: transparent url("../images/flech-next.png") no-repeat scroll 87px 13px;
  border: 2px solid #9199a0;
  bottom: 0;
  color: #313f4d;
  font-family: "Myriad Pro Bold Condensed";
  padding-right: 24px;
  position: absolute;
  right: 35px;
  width: 123px;
  right: 0px;
}
.welcome_pad h2 {
  margin-left: 50px;
}
.welcome-description {
  padding-top: 50px;
  margin-left: 130px;
}
#nav_scroll #nav_scroll_logo {
  float: left;
  height: 40px;
  margin-top: -10px;
  position: relative;
  width: 142px;
}
#bg_nav_scroll {
  background-color: rgba(0,0,0,0.6);
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 60px;
  z-index: 1;
}
#nav_top a.nav_productos {
  margin-right: 0px;
}
.submenu_scroll {
  margin-top: 50px !important;
  position: fixed !important;
  z-index: 5000 !important;
}
.logo-footer {
  width: 370px;
  margin: auto;
  border-bottom: solid 1px #c3cbd5;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #113156;
  font-size: 13px;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  font-family: 'raleway';
  font-weight: 500;
  font-style: italic;
  font-size: 15px;
  z-index: 10;
  padding-bottom: 100px;
}
footer ul {
  list-style: outside none none;
}
footer ul li {
  margin-bottom: 10px;
}
.footer_title {
  font-weight: 600;
}
footer #footer_paises li {
  margin-bottom: 15px;
}
footer #footer_social img {
  display: block;
  margin-bottom: 10px;
}
footer #end {
  font-size: 11px;
  padding: 10px 0;
  text-align: center;
}
.imagen_valores {
  background-image: url("../images/imagen.png");
  background-repeat: no-repeat;
  height: 316px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.cont_description_valores h2 {
  margin-left: 30px;
  font-family: "raleway";
  font-size: 35px;
  font-weight: normal;
  color: #113156;
}
.content_valores {
  color: #113156;
  font-family: "raleway";
  background: rgba(255,255,255,0.8);
  font-style: italic;
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  line-height: 30px;
  left: -355px;
  padding: 50px;
  z-index: 9;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.lo {
  display: block;
  overflow: hidden;
}
.lo {
  margin-bottom: 7%;
  margin-top: 7%;
}
.lo-1 {
  margin-bottom: 7%;
}
.lo-1 .content_valores {
  right: -238px;
  left: 0px;
  z-index: 9;
}
.lo-1 h2 {
  text-align: right;
  margin-right: 30px;
}
.sub_men {
  background: #fff;
  padding-bottom: 12px !important;
  padding-top: 12px;
  width: 880px !important;
  border-bottom: 0px !important;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.content_valores p {
  line-height: 2;
}
.cd-container {
  margin: 0 auto;
  max-width: 1170px;
  width: 90%;
}
.cd-container::after {
  clear: both;
  content: "";
  display: table;
}
#cd-timeline {
  margin-bottom: 2em;
  margin-top: 5em !important;
  padding: 2em 0;
  position: relative;
}
#cd-timeline::before {
  background: #113156 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 1px;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  margin: 2em 0;
  position: relative;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 40px;
  left: 0;
  position: absolute;
  top: -40px;
  padding-top: 16px;
  width: 40px;
}
.cd-timeline-img img {
  display: block;
  height: 38px;
  left: 43%;
  margin-left: -12px;
  margin-top: -12px;
  position: relative;
  top: 14%;
  width: 30px;
}
.cd-timeline-img.cd-picture {
  background: #fff none repeat scroll 0 0;
}
.cd-timeline-img.cd-movie {
  background: #fff none repeat scroll 0 0;
}
.cd-timeline-img.cd-location {
  background: #fff none repeat scroll 0 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    height: 60px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    -webkit-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    -moz-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    -o-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    -ms-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    visibility: visible;
  }
  .cssanimations .imagen-left.is-hidden {
    visibility: hidden;
  }
  .cssanimations .imagen-left.bounce-in {
    -webkit-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    -moz-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    -o-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    -ms-animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
    visibility: visible;
  }
}
.cd-timeline-content {
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  margin-left: 60px;
  padding: 1em;
  position: relative;
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content h2 {
  color: #113156;
  font-family: "raleway";
  font-style: italic;
  font-weight: 300;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  line-height: 30px;
  margin: 1em 0;
  color: #113156;
  font-family: "raleway";
  font-size: 18px;
  letter-spacing: 1.5px;
  font-style: italic;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-read-more:hover {
  background: transparent url("../images/flech-next.png") no-repeat scroll 87px 13px;
  border: 2px solid #9199a0;
  bottom: 0;
  color: #313f4d;
  font-family: "Myriad Pro Bold Condensed";
  padding: 6px 12px;
  padding-right: 24px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  float: right;
  border: 2px solid #9199a0;
  width: 123px;
}
.cd-timeline-content .cd-date {
  float: left;
}
.fototime {
  float: left;
  left: -92%;
  position: absolute;
  top: 7%;
}
.cd-timeline-block:nth-child(2n) .cd-timeline-content .fototime {
  left: 128%;
}
.cd-timeline-content::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #fff transparent transparent;
  -webkit-border-image: none;
  -moz-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 7px;
  content: "";
  height: 0;
  position: absolute;
  right: 100%;
  top: 16px;
  width: 0;
}
.triangulo-equilatero-bottom-left {
  border-color: #fff transparent transparent #fff;
  border-style: solid;
  border-width: 89px 1091px 15px 250px;
  height: 0;
  width: 100%;
}
.triangulo-equilatero-bottom-right {
  border-bottom: 165px solid #fff;
  border-left: 1990px solid transparent;
  border-top: 9px solid transparent;
  border-width: 9px 1091px 195px 1990px;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.imgnavales {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#navales p {
  font-style: italic;
}
h2.lineas-negocio {
  font-size: 32px;
  margin-bottom: 20px;
}
.arma_content .naval-content-product {
  margin-bottom: 100px;
}
.nav_arma {
  margin: 0px;
}
.nav_arma h2 {
  font-style: normal;
  font-family: 'raleway';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
}
h1.lineas-negocio {
  margin-bottom: 30px;
}
.menu-sima li {
  display: inline-block;
  border-left: solid 1px #f2f2f2;
  padding: 32px 23px;
}
.menu-sima {
  padding-bottom: 10px;
  padding-left: 0;
}
#nav_top .menu-sima li:hover {
  background: #013a6f;
}
#nav_top .menu-sima li:hover a {
  color: #fff;
}
#nav_top .menu-sima li:hover .submenu {
  display: table-cell;
  padding-left: 50%;
}
#nav_top .menu-sima li:hover .submenu li a:hover {
  color: #fff !important;
}
ul.menu-sima ul.submenu {
  display: none;
  position: absolute;
  background: #013a6f;
  line-height: 30px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  margin-left: 20px;
  width: 100%;
  left: 0;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: auto;
  z-index: 999;
  margin-top: 31px;
}
ul.menu-sima ul.submenu li {
  padding: 0 40px 0 0;
  vertical-align: middle;
  display: table-cell;
  border: 0px;
}
ul.menu-sima ul.submenu li a {
  color: #fff;
}
.logo,
.content-menu {
  display: inline-block;
}
.logo {
  line-height: 84px;
}
.content-menu {
  float: right;
}
.sector_imagen {
  height: 620px;
  background-image: url("../images/1x_img_construccionesnavales-principal.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
.sector_imagen_arma {
  height: 620px;
  background-image: url("../images/1x_img_armasyelectronica-principal.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
.sector_imagen_metal {
  height: 620px;
  background-image: url("../images/1x_img_metalmecánica-principal.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
.sector_imagen_navales {
  height: 620px;
  background-image: url("../images/1x_img_reparaciones-navales-principal.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}
.imagen-left img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.card-block-noticias {
  padding: 1.25rem;
  padding-bottom: 0;
  border: solid 1px #f3f3f3;
  border-bottom: 0px;
}
.card-deck-noticias {
  border-spacing: 1.25rem 0;
  display: table;
  table-layout: fixed;
}
.social-red {
  height: 45px;
  width: 838px;
  margin-top: 40px !important;
  margin: auto;
}
.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0px;
}
.noticia_text {
  margin-top: 45px;
  padding-right: 33px;
}
.siderbar_noticias_content {
  border-bottom: 1px solid #e2e2e2;
}
.view_video {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.content_video {
  width: 610px;
  height: 400px;
}
.bx-pager.bx-default-pager {
  display: none;
}
.social-red .spa {
  font-size: 15px;
  font-family: 'Myriad Pro Light SemiCondensed';
  color: #727272;
  line-height: 37px;
  padding-right: 20px;
  vertical-align: middle;
}
.body_noticia {
  width: 838px;
  margin: auto;
}
.bx-wrapper .bx-caption {
  background: rgba(1,58,111,0.75) none repeat scroll 0 0;
}
.bx-caption span {
  font-family: 'raleway' !important;
  font-weight: 200;
  font-style: italic;
  font-size: 18px !important;
  color: #f0f1f2;
}
.twit {
  padding-right: 0px !important;
}
.twit:hover .twitico {
  background: rgba(0,0,0,0) url("../images/1x_ic_twittercompartir-hover.png") repeat scroll 0 0;
}
.face:hover .faceico {
  background: rgba(0,0,0,0) url("../images/1x_ic_facebookcompartir-hover.png") repeat scroll 0 0;
}
.card-deck-publi {
  border-spacing: 3.17rem 0;
  display: table;
  table-layout: fixed;
}
.card-text-noticias small {
  font-style: normal;
  font-size: 12px;
  font-family: 'Myriad Pro Light SemiCondensed';
}
.time {
  background: url("../images/1x_ic_nota_hora.png");
  height: 18px;
  width: 18px;
  margin-bottom: -4px;
  margin-right: 7px;
}
.time-interno {
  background: url("../images/1x_ic_reloj_interiordenota.png");
  height: 28px;
  width: 28px;
  margin-bottom: 3px;
  margin-right: 7px;
  vertical-align: middle;
}
.faceico {
  background: url("../images/1x_ic_facebookcompartir.png");
  height: 28px;
  width: 28px;
  margin-bottom: 3px;
  margin-right: 2px;
  vertical-align: middle;
}
.twitico {
  background: url("../images/1x_ic_twittercompartir.png");
  height: 28px;
  width: 28px;
  margin-bottom: 3px;
  margin-right: 2px;
  vertical-align: middle;
}
.calendario {
  background: url("../images/1x_ic_nota_fecha.png");
  height: 18px;
  width: 18px;
  margin-bottom: -4px;
  margin-right: 7px;
}
.ver {
  background: url("../images/1x_ic_nota_vermas_off.png");
  height: 18px;
  width: 18px;
  margin-bottom: -4px;
  margin-right: 7px;
}
.content_noticias {
  background: #f7f7f7;
}
.card-title-noticias {
  font-family: "raleway";
  color: #113156;
  font-size: 16px;
  line-height: 1.7;
  font-style: italic;
}
.card-text-noticias {
  border-top: solid 1px #f3f3f3;
  line-height: 27px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 15px;
  width: 100%;
}
.card-deck-wrapper {
  margin-bottom: 29px;
  margin-top: 39px;
}
.card-deck-noticias .card-noticias {
  display: table-cell;
  vertical-align: top;
  width: 1%;
}
.card-noticias {
  background-color: #fff;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.75rem;
  position: relative;
}
.card-deck-publi .card-publi {
  display: table-cell;
  vertical-align: top;
  width: 206px;
}
.card-publi {
  background-color: #fff;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.75rem;
  position: relative;
}
#wrap_all section.top_menu {
  height: 30px;
  margin-top: 0px;
  background: #eaeaea;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    float: right;
  }
  .cd-timeline-content::before {
    border-color: transparent transparent transparent #fff;
    left: 100%;
    top: 24px;
  }
  .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-content .cd-date {
    color: #113156;
    font-family: "raleway";
    font-size: 38px;
    font-weight: 500;
    left: auto;
    position: absolute;
    right: 122%;
    text-align: right;
    top: -40px;
    width: 100%;
  }
  .cd-timeline-block:nth-child(2n) .cd-timeline-content {
    float: left;
    text-align: right;
  }
  .cd-timeline-block:nth-child(2n) .cd-timeline-content::before {
    border-color: transparent #fff transparent transparent;
    left: auto;
    right: 100%;
    top: 24px;
  }
  .cd-timeline-block:nth-child(2n) .cd-timeline-content .cd-read-more {
    right: auto;
  }
  .cd-timeline-block:nth-child(2n) .cd-timeline-content .cd-date {
    left: 122%;
    text-align: left;
    right: 122%;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    -webkit-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    -moz-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    -o-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    -ms-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    visibility: visible;
  }
  .cssanimations .navales-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .navales-content.bounce-in {
    -webkit-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    -moz-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    -o-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    -ms-animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
    visibility: visible;
  }
}
@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(2n) .cd-timeline-content.bounce-in {
    -webkit-animation: 0.6s ease 0s normal none 1 running cd-bounce-2-inverse;
    -moz-animation: 0.6s ease 0s normal none 1 running cd-bounce-2-inverse;
    -o-animation: 0.6s ease 0s normal none 1 running cd-bounce-2-inverse;
    -ms-animation: 0.6s ease 0s normal none 1 running cd-bounce-2-inverse;
    animation: 0.6s ease 0s normal none 1 running cd-bounce-2-inverse;
  }
}
.tit_tab {
  background: #908f90;
  color: #fff;
  font-size: 18px;
  font-family: 'raleway' !important;
  font-style: italic;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tit_tab h2 {
  font-weight: 300;
}
.content_panelcollapse .panel {
  margin-bottom: 0px;
}
.tit_tab_activo {
  background: #113156;
}
.content_panelcollapse {
  border: solid 4px #013a6f;
  padding: 5px 5px 20px;
}
.table_displayinline {
  display: inline-block;
  padding: 40px;
}
.table_displayinline p {
  color: #727272;
}
.table_displayinline .bluetext {
  color: #013a6f;
}
.pull-right.date_anual {
  margin-right: 101px !important;
  margin-top: 9px;
  color: #727272;
  font-size: "Myriad Pro SemiCondensed";
  font-weight: 600;
}
.block_tit h3 {
  font-size: 19px;
  padding: 17px;
}
.siderbar_noticias_content {
  background: #f7f7f7;
}
.block-imagen {
  padding: 15px;
}
.sidebar-noticias {
  border: solid 1px #f3f3f3;
  border-top: 0px;
  border-right: 0px;
  padding-top: 38px;
  padding-left: 10px;
  padding-bottom: 38px;
  border-left: solid 8px #113156;
}
.home_sima {
  width: 910px;
  min-width: 910px;
}
.noticias_sima {
  width: 961px;
  min-width: 933px;
}
.m_left_panel {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 0px;
  border-top: 0px;
}
.m_left_panel .r_width {
  font-family: 'Myriad Pro Light SemiCondensed';
  font-size: 14px;
  color: #727272;
  width: 75.5%;
}
.m_left_panel .panel-title {
  display: inline-block;
  font-family: 'Myriad Pro SemiCondensed';
  color: #727272;
  font-size: 16px;
}
.m_left_panel .panel-heading span {
  display: inline-block;
}
.m_left_panel .panel-heading {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-left: 60px;
  border-left: solid 1px #ddd;
  border-bottom: 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.m_left_panel .panel-default > .panel-heading {
  background: #e0e0e0;
}
.m_left_panel .panel-body {
  margin-left: 60px;
  border-left: 1px solid #ddd;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 0;
}
.m_left_panel .panel-body .table {
  margin-left: 30px;
  width: calc(100% - 30px);
  margin-bottom: 0px;
  border-left: 1px solid #ddd;
}
.noborder {
  border-top: 0px !important;
}
.b_white {
  background: #fff !important;
}
.mleft {
  border-left: 1px solid #ddd;
  margin-left: 60px;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  width: calc(100% - 60px);
}
.mleft tr td {
  padding: 10px 15px !important;
  color: #727272;
  font-family: "Myriad Pro Light SemiCondensed";
  font-size: 14px;
}
.table_text tr td {
  color: #727272;
  font-family: "Myriad Pro Light SemiCondensed";
  font-size: 14px;
}
.wr {
  width: 56%;
}
.line_h .glyphicon {
  margin-top: 11px;
}
.table.mleft.rallas tbody tr:nth-child(odd) {
  border-left: solid 3px #908f90;
}
.tr_null {
  background: #f5f5f5;
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 321px) {
  .slides-container li {
    width: 1200px !important;
  }
}
