/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$ic_basc_name = 'ic_basc';
$ic_basc_x = 122px;
$ic_basc_y = 0px;
$ic_basc_offset_x = -122px;
$ic_basc_offset_y = 0px;
$ic_basc_width = 33px;
$ic_basc_height = 29px;
$ic_basc_total_width = 155px;
$ic_basc_total_height = 120px;
$ic_basc_image = '../images/sprite.png';
$ic_basc = 122px 0px -122px 0px 33px 29px 155px 120px '../images/sprite.png' 'ic_basc';
$ic_sgs_acero_name = 'ic_sgs_acero';
$ic_sgs_acero_x = 122px;
$ic_sgs_acero_y = 29px;
$ic_sgs_acero_offset_x = -122px;
$ic_sgs_acero_offset_y = -29px;
$ic_sgs_acero_width = 30px;
$ic_sgs_acero_height = 29px;
$ic_sgs_acero_total_width = 155px;
$ic_sgs_acero_total_height = 120px;
$ic_sgs_acero_image = '../images/sprite.png';
$ic_sgs_acero = 122px 29px -122px -29px 30px 29px 155px 120px '../images/sprite.png' 'ic_sgs_acero';
$ic_sgs_acero_white_name = 'ic_sgs_acero_white';
$ic_sgs_acero_white_x = 122px;
$ic_sgs_acero_white_y = 58px;
$ic_sgs_acero_white_offset_x = -122px;
$ic_sgs_acero_white_offset_y = -58px;
$ic_sgs_acero_white_width = 30px;
$ic_sgs_acero_white_height = 29px;
$ic_sgs_acero_white_total_width = 155px;
$ic_sgs_acero_white_total_height = 120px;
$ic_sgs_acero_white_image = '../images/sprite.png';
$ic_sgs_acero_white = 122px 58px -122px -58px 30px 29px 155px 120px '../images/sprite.png' 'ic_sgs_acero_white';
$ic_sgs_azul_name = 'ic_sgs_azul';
$ic_sgs_azul_x = 0px;
$ic_sgs_azul_y = 0px;
$ic_sgs_azul_offset_x = 0px;
$ic_sgs_azul_offset_y = 0px;
$ic_sgs_azul_width = 122px;
$ic_sgs_azul_height = 120px;
$ic_sgs_azul_total_width = 155px;
$ic_sgs_azul_total_height = 120px;
$ic_sgs_azul_image = '../images/sprite.png';
$ic_sgs_azul = 0px 0px 0px 0px 122px 120px 155px 120px '../images/sprite.png' 'ic_sgs_azul';
$spritesheet_width = 155px;
$spritesheet_height = 120px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $ic_basc $ic_sgs_acero $ic_sgs_acero_white $ic_sgs_azul;
$spritesheet = 155px 120px '../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
