



$dark-blue = #254d90
$light-blue = #0071bc
$mustard = #fbb03b
$gray = #b3b3b3
$purple = #1b1464


.dark-blue
  color $dark-blue
.light-blue
  color $light-blue
.mustard
  color $mustard
.gray
  color $gray
.purple
  color $purple
.white
  color #ffF
