// BLOQUES QUE SE REUTILIZARÁN




// DISPLAY TABLE
.display-table
  display-table()

  .display-table-cell
    display-table-cell()



// CENTER
.big-center
  centers(1500px)

.center
  centers(1200px)

.small-center
  centers(980px)

// CLEARFIX
.clearfix
  clearfix()

// PROPERTIES
.hide
  opacity 0
.none
  display none
.error
  // border 1px solid red !important
  color red
  display block
  font-size 12px
  height 17px

// ICO
.ico
  display inline-block

.ic_sgs_acero
  sprite($ic_sgs_acero)
.ic_sgs_acero_white
  sprite($ic_sgs_acero_white)
.ic_basc
  sprite($ic_basc)
.ic_sgs_azul
  sprite($ic_sgs_azul)
  margin 9px
