@font-face {
  font-family: 'FontAwesome';
  src: url('../files/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../files/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../files/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../files/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../files/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro SemiCondensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro SemiCondensed'), url('../files/fonts/Myriad-Pro-SemiCondensed.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Light SemiCondensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Light SemiCondensed'), url('../files/fonts/Myriad-Pro-Light-SemiCondensed.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed'), url('../files/fonts/MYRIADPRO-COND.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold Italic'), url('../files/fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../files/fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed Italic'), url('../files/fonts/MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Italic'), url('../files/fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed Italic'), url('../files/fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed'), url('../files/fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('../files/fonts/MYRIADPRO-BOLD.woff') format('woff');
}
